@model IEnumerable<TeamScreen.Models.Jira.JiraIssuesModel>

<h1>JIRA status</h1>

<table class="issues-table">
    <tr>
        @foreach (var column in Model)
        {
            <th>@column.Column</th>
        }
    </tr>
    <tr>
        @foreach (var column in Model)
        {
            <td class="issue-column">
                <ul class="issue-list">
                    @foreach (var issue in column.Issues)
                {
                        <li>
                            <p class="issue">
                                <b>
                                    <span>@issue.Key</span>
                                    <span class="pull-right">@issue.Fields.Assignee.Name</span>
                                </b>
                                <br />
                                @issue.Fields.Summary
                            </p>
                        </li>
                    }
                </ul>
            </td>
        }
    </tr>
</table>

@*@section Scripts{
        <script type="text/javascript">
            window.setTimeout(function () {
                window.location.href = '@Url.Action("Index","TeamCity")';
            }, 60000);
        </script>
    }*@