@using TeamScreen.Models.TeamCity
@model Dictionary<string, TeamCityBuildModel[]>

<h1>TeamCity status</h1>

@foreach (var project in Model)
{
    <h2>@project.Key</h2>
    foreach (var build in project.Value)
    {
        if (build.Status == TeamCityStatusModel.Success)
        {
            <h2 style="color: green">@build.Name @build.Date @build.TrrggeredBy</h2>
        }
        else if (build.Status == TeamCityStatusModel.Pending)
        {
            <h2 style="color: orange">@build.Name @build.Date @build.TrrggeredBy</h2>
        }
        else
        {
            <h2 style="color: red">@build.Name @build.Date @build.TrrggeredBy</h2>
        }
    }
}

@section Scripts{
    <script type="text/javascript">
        window.setTimeout(function () {
            window.location.href = '@Url.Action("Index","Jira")';
        }, 60000);
    </script>
}